body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #333;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    background-color: #deadad;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo2 img {
    height: 50px;
    margin-right: 10px;
}

.logo3 img {
    height: 50px;
    margin-right: 10px;
}

header h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #f0baba;
}
