body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #333;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.design1 {
    display: flex;
    align-items: center;
    background-color: #c1409e;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.design1 {
    display: flex;
    align-items: center;
    background-color: #a36392;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.design2 {
    display: flex;
    align-items: center;
    background-color: #a0ce83;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.design3 {
    display: flex;
    align-items: center;
    background-color: #ebb1b2;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.design4 {
    display: flex;
    align-items: center;
    background-color: #e9d4a0;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.design5 {
    display: flex;
    align-items: center;
    background-color: #8bbde7;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}



.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo2 img {
    height: 50px;
    margin-right: 10px;
}

.logo3 img {
    height: 50px;
    margin-right: 10px;
}

.logo4 img {
    height: 50px;
    margin-right: 10px;
}

.logo5 img {
    height: 50px;
    margin-right: 10px;
}



header h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #f0baba;
}
